* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #121212;
  background-color: #E3E3E3;
  line-height: 1.5;
  letter-spacing: 0.065em;
}

.container {
  /* add some space to the right and left of the container */
  padding-top: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
}

/* HEADER */
header {
  color: #fff;
  padding-bottom: 1em;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/background.jpeg');
  background-size: cover;
  height: 100vh;
}

header, footer {
  width: 100%;
}

.title {
  /* remove default margin */
  margin-top: 0;
}

.logo {
  display: none;
}

.nav-bar {
  width: 80%;
  text-align: center;
  /* center the svg */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-bar p {
  margin-bottom: 20px;
  font-size: 0.875em;
  font-style: italic;
  color: rgba(255, 255, 255, .6);
}

.nav-bar h1 {
  margin-bottom: 0;
}

.nav-bar li {
  /* remove default bullets */
  list-style-type: none;
  margin-bottom: 4px;
}

.nav-bar a {
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  background-color: rgba(255,255,255,.2);
  color: #fff;
}

.nav-bar ul {
  /* remove list default left padding */
  padding-left: 0;
  width: 50%;
  /* center the list */
  margin: 0 auto;
}

.arrow {
  width: 50px;
  /* center the svg */
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* pulsate the arrow icon */
  -webkit-animation: arrow 3s ease-out;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes arrow {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.3;
    }
}

.xxl-device {
  /* hide all the conten inside this container */
  display: none;
}

/* MAIN BODY */

h2 {
  margin-bottom: .5em;
}

p {
  padding: .3em .2em;
}

span {
  font-weight: 700;
  font-size: 1.125em;
}

img {
  max-width: 100%;
  margin: .5em 0;
}

hr {
  margin: 2em 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

main ul {
  padding-left: 1em;
}

main li {
  list-style-type: square;
}

/* target the first column inside of the container */
.container .col:first-of-type {
  padding-bottom: 1em;
}

/* FOOTER */

footer {
  text-align: center;
  font-style: italic;
  color: #fff;
  background-color: #212121;
}

/* CLEARFIX */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* MEDIA QUERIES */
@media (min-width: 769px) {
  .container {
    /* set width and conter the container */
    width: 80%;
    margin: 0 auto;
    padding-top: 3.5em;
    padding-bottom: 3em;
  }

  header .container {
    padding: .5em .5em;
  }

  .title {
    display: none;
  }

  .col {
    width: 50%;
    float: left;
    padding: 1em .5em;
  }

  .nav-bar {
    z-index: 1000;
    background-color: #212121;
    /* center the svg */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
  }

  .nav-bar ul {
    padding-top: .5em;
  }

  .logo {
    display: block;
    float: left;
    width: 70px;
    margin: 0;
  }

  figure img {
    box-shadow: 5px 10px 18px #888;
  }

  hr {
    margin: 3em 0;
  }

  figure span {
    display: block;
  }

  .nav-bar ul {
    float: right;
  }

  .nav-bar p {
    display: none;
  }

  .nav-bar a {
    background-color: transparent;
  }

  .nav-bar li {
    display: inline-block;
    margin-left: 2em;
    background-color: none;
  }

  footer .container {
    padding: 1em 0;
  }

  .xxl-device {
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 50%;
    box-shadow: inset 1px 7px 4px #fff;
  }

  .xxl-device h1 {
    text-transform: uppercase;
    font-size: 3em;
    margin-top: 3em;
    font-weight: 300;
  }

}
