* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #121212;
  background-color: #E3E3E3;
  line-height: 1.5;
  letter-spacing: 0.065em;
}

figure {
  margin: 0;
}

hr {
  margin: 2em auto;
  width: 90px;
}

h2 {
  margin-bottom: .5em;
}

img {
  max-width: 100%;
  padding: .5em 0;
}

p {
  padding: .2em .2em;
}

header, footer {
  width: 100%;
}

span {
  font-weight: 700;
  font-size: 1.125em;
}
header {
  color: #fff;
  padding-bottom: 1em;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/background.jpeg');
  background-size: cover;
  height: 100vh;
}

main ul {
  padding-left: 1em;
}

footer {
  text-align: center;
}

.title {
  /* remove default margin */
  margin-top: 0;
}

.container {
  /* add some space to the right and left of the container */
  padding-top: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
}

.nav-bar {
  width: 80%;
  text-align: center;
    /* center the svg */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-bar p {
  margin-bottom: 20px;
  font-size: 0.875em;
  font-style: italic;
  color: rgba(255, 255, 255, .6);
}

.nav-bar h1 {
  margin-bottom: 0;
}

.nav-bar li {
  /* remove default bullets */
  list-style-type: none;
  margin-bottom: 4px;
}

.nav-bar a {
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  background-color: rgba(255,255,255,.2);
  color: #fff;
}

.nav-bar ul {
  /* remove list default left padding */
  padding-left: 0;
  width: 50%;
  /* center the list */
  margin: 0 auto;
}

footer {
  color: #fff;
  background-color: #212121;
}

.arrow {
  width: 50px;
  /* center the svg */
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* MEDIA QUERIES */
@media (min-width: 769px) {
  .container {
    /* set width and conter the container */
    width: 80%;
    margin: 0 auto;
  }

}
